body{
    background-color: rgb(141, 244, 160);
    font-family: Arial, Helvetica, sans-serif;
    margin:0; 
}
h1,h2{
    text-align: center;
}
span {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: #9ab8f9;
    border: 1px solid #ccc; 
    border-radius: 15px 15px 15px 15px;
    }
.input-section{
    align-content: center;
    display: flex;
    flex-direction: column;
    padding-right: 560px;
    padding-left: 560px;
}
.input-section select{
    padding: 5px;
    margin-right: 10px;
}
.input-section label{
    font-weight: bold;
    margin-right: 10px;
}
.input-section input{
    padding: 5px;
    margin-right: 10px;
}
.input-section button{
    padding: 5px 10px;
    background-color: rgb(255, 183, 0);
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.expenses-list{
    margin: 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}
th{
    background-color: rgb(110, 9, 210);
    color: white;
}
tfoot{
    font-weight: bold;
}
.delete-btn{
    padding: 5px 10px;
    background-color: rgb(216, 89, 15);
    color: white;
    border:none;
    border-radius: 4px;
    cursor:pointer;
}